.advantages {
    margin-top: calc($index * 3);
    margin-bottom: calc($index * 3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: $gap;

    @media screen and (max-width: 1199px) {
        grid-template-columns: 4fr 3fr;
    }

    @media screen and (max-width: 991px) {
        display: flex;
        flex-direction: column;
    }

    &__images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;

        @media screen and (max-width: 991px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-img {
            height: 100%;
            width: 100%;
            object-fit: contain;

            @media screen and (max-width: 991px) {
                width: 25%;
            }

            @media screen and (max-width: 576px) {
                width: 50%;
            }
        }
    }

    &__text {
        width: 100%;
        position: relative;
    }

    &__title {
        font-size: 48px;
        font-size: calc($index * 1.7);
        line-height: calc($index * 1.7);

        @media screen and (max-width: 767px) {
            text-align: center;
            font-size: calc($index * 2.4);
            line-height: calc($index * 2.4);
        }
    }

    &__description {
        font-size: calc($index * .64);
        font-size: 18px;

        p {
            i {
                color: $grayColor;
            }
        }
    }
}